*{
    margin: 0px;
    padding: 0px;
}
body{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/889/844/small/quiz-set-in-doodle-style-illustration-icon-question-symbol-for-print-and-design-quiz-and-exam-concept-isolated-element-on-black-background-collection-of-sign-for-school-and-event-vector.jpg);
  display: flex;
  justify-content: center;
}


/* kalvium and light and dark mode  */
.kalvium{
    color: rgb(246, 6, 6);
    margin-top: 20px;
    margin-left: 210px;
    position: absolute;
}
.mode{
    height: 40px;
    width: 90px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    margin-left: 1000px;
    margin-top: 20px;
    
}

/* quiz outer box*/
.main{
    height: 550px;
    width: 1300px;
    margin-top: 70px;
    margin-left: 12px;
    border-radius: 20px;
}

/* questions & option  */
.Qcount{
    text-align: center;
    padding-top: 20px;
}
.question{
    color: blue;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;

}

ul {
    list-style: none;
  }
  
  li {
    margin-top: 8px;
    background-color: darkgray;
    padding: 16px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 1000px;
    margin-left: 150px;
    text-align: center;
  }
  
  /* highlight */
.highlight{
    width: 130px;
    height: 50px;
    border-radius: 30px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bolder;
    margin-left: 500px;
    margin-top: 20px;
}
.Remove_highlight{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bolder;
}